@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header1-1 P {
  font-size: 23px;
  color: #fac51c;
}
#header1-1 H1 {
  text-align: left;
}
#header1-1 SPAN {
  color: #7ac673;
}
#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-12 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
}
#ext_menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}

#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}

#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-12 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
}
#ext_menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#testimonials1-11 .mbr-reviews__text {
  text-align: center;
  color: #7ac673;
}
#testimonials1-11 .mbr-reviews__author-name {
  color: #fac51c;
}
#testimonials1-11 .mbr-section__header {
  color: #fac51c;
}
#testimonials1-11 .mbr-reviews__author-bio {
  color: #fac51c;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #d14841;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-17 .mbr-article BLOCKQUOTE {
  color: #27aae0;
}

#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-12 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
}
#ext_menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}


#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-12 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
}
#ext_menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7ac673;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
}
#content5-15 .mbr-article P {
  text-align: center;
  color: #fac51c;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #7ac673;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-17 .mbr-article {
  color: #9365b8;
}
